# Default ignored files
/shelf/
/workspace.xml
.idea/

Personal/School/College/Year III/Sem II/II/II-Project/NUME_PROIECT/.vscode
Personal/School/College/Year III/Sem II/II/II-Project/NUME_PROIECT/Logs
Personal/School/College/Year III/Sem II/II/II-Project/NUME_PROIECT/Library
Personal/School/College/Year III/Sem II/II/II-Project/NUME_PROIECT/Temp
